{% extends 'base.html' %}
{% block content %}
	<h1>Edit Profile</h1>
	<form action="" method="post" novalidate enctype="multipart/form-data">
		{{ form.hidden_tag() }}
		<p>
			{{ form.address.label }}<br>
			{{ form.address(size=32) }}
		</p>
		<p>
			{{ form.latitude.label }}<br>
			{{ form.latitude(size=32) }}
		</p>
		<p>
			{{ form.longitude.label }}<br>
			{{ form.longitude(size=32) }}
		</p>
		<p>
			{{ form.profile.label }}<br>
			{{ form.profile(rows='20',cols='60') }}
		</p>
		<p>{{ form.submit() }}</p>
	</form>
	<div class="msg">{{ msg }}</div>
{% endblock %}