{% extends 'base.html' %}
{% block content %}
    <h1>{% block title %} My Threads{% endblock %}</h1>
    <div>
        <a class="btnblue" href="{{ url_for('threads', source='all') }}" class="active">All Threads</a>
        <a class="btnblue" href="{{ url_for('threads', source='new') }}">New Threads</a>
        <a class="btnblue" href="{{ url_for('threads', source='my') }}">My Threads</a>
        <a class="btnblue" href="{{ url_for('threads', source='friend') }}">Friend Threads</a>
        <a class="btnblue" href="{{ url_for('threads', source='neighbor') }}">Neighbor Threads</a>
        <a class="btnblue" href="{{ url_for('threads', source='block') }}">Block Threads</a>
        <a class="btnblue" href="{{ url_for('threads', source='hood') }}">Hood Threads</a>
        <a class="btnblue" href="{{ url_for('postthread') }}" class="active">Create Thread</a>
    </div>
    <div class='searchbar'>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            {{ form.keyword() }}
            {{ form.submit() }}
        </form>
    </div>
    {% for t in threads %}
        <div class='thread'>
            <h2>{{ t[5] }}</h2>
            <h4 style="color: #3B3B3B">For {{ t[3] }}: {{ t[4] }}</h4>
            <a href="{{ url_for('messages', id=t[0], target=t[3]) }}" class="active">more</a>
        </div>
    {% endfor %}
    <div class='msg1'>{{ msg }}</div>
{% endblock %}